bin/
obj/
out/
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.suo
*.user
*.lock
*.ncb
*.opendb
*.pyc
*.pyo

.vs/
.idea/
*.sln.docstates
*.suo
*.user
*.vscode/

*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.assets.json
*.psess

appsettings.json
appsettings.Development.json
secrets.json
.env

*.dotCover
*.coverage
*.tmd
*.uprof
*.snap

*.log
*.tlog
*.cache/
logs/
coverage/
TestResults/

token.txt
serverSettings.txt
config.json